.asynchremote-tree {
  margin:0px;
}


.asynchremote-tree treechildren::-moz-tree-image {
  margin-right:4px;
}
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_folder_open) {
  list-style-image:url(chrome://asynchremote/content/icons/tree/folder-open.png);
}
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_folder_closed) {
  list-style-image:url(chrome://asynchremote/content/icons/tree/folder-closed.png);
}
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file) {
  list-style-image:url(chrome://asynchremote/content/icons/tree/file-icon.png);
}
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_busy) {
  list-style-image:url(chrome://asynchremote/content/icons/tree/folder-closed-loading.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, apng),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, png),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, jpg),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, gif),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, jpeg), 
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, bmp) {
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/image.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, psd) {
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/psd.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, js) {
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/js.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, xpi) {
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/xpi.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, xml),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, rdf),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, dtd),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, xul) {
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/xml.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, htm),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, html) ,
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, md),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, xhtml)
{
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/html.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, css) {
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/css.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, sql),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, sqlite)
{
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/sql.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, ai) {
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/ai.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, cdr) {
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/cdr.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, mov),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, mpeg),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, avi),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, mpg),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, flv),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, wmv)
{
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/film.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, mp3),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, wav),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, aif),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, aiff),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, snd),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, wma),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, asf),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, asx),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, pcm)
{
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/music.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, php),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, php3),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, php4),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, php5)
{
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/php.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, pdf){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/pdf.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, as){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/as.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, fla){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/fla.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, swf){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/swf.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, xls),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, doc),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, rtf),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, ppt)
{
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/office.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, zip),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, tar),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, rar),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, gz)
{
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/compressed.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, exe){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/exe.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, ini),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, conf),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, dat)
{
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/conf.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, txt){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/txt.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, sh),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, bat)
{
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/sh.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, py),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, pl){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/p.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, rb){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/rb.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, htaccess){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/htaccess.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, diff){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/diff.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, komodotool),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, kpz),
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, komodoproject)
{
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/komodo16.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, json){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/json.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, rss){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/rss.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, bak){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/bak.png);
}
.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, tmp){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/tmp.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, properties){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/properties.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, fifo){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/fifo.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, ico){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/ico.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, jar){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/jar.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, gitignore){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/gitignore.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, manifest){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/manifest.png);
}

.asynchremote-tree treechildren::-moz-tree-image(asynchremote_file, log){
  list-style-image:url(chrome://asynchremote/content/icons/tree/files/log.png);
}
