/* toolbar log button */

  .asynchremote-log-toolbarbutton-xbl
  {
    -moz-binding:url('chrome://asynchremote/content/xml/log-toolbarbutton.xml#asynchremote-log-toolbarbutton-xbl');
  }
  
/* toolbar log richlistbox */

.asynchremote-toolbar-panel-log
{
}

.asynchremote-toolbar-panel-log > description
{
  font-size:11px;
  font-family:arial, tahoma, sans-serif;
  border-bottom: 1px solid ThreeDLightShadow;
  padding:0px;
  margin:0px;
}
/* modified backgroud image taken from the console*/
.asynchremote-toolbar-panel-log-row
{
  padding:0px;
  margin:0px;
  padding-top:1px;
  padding-bottom:0px;
  background-color:white;

}
/* modified backgroud image taken from the console*/
.asynchremote-toolbar-panel-log-row[selected="true"]
{
  background-image: url("chrome://asynchremote/content/icons/toolbar/richlistbox/itemSelected.png") !important;
}

.asynchremote-log-item-sucess
{
  color:#45a44e;
}
.asynchremote-log-item-status
{
  color:#5d61af;
  }
.asynchremote-log-item-error
{
  color:#d73d3d;
}
.asynchremote-log-item-warning
{
  color:#666666;
}
.asynchremote-log-item-canceled
{
  color:#876F71;
}
.asynchremote-log-item-progress
{
  color:#999999;
  }
.asynchremote-log-item-process
{
  color:#45a44e;font-weight:bold;
}