
.asynchremote-tree {
  margin:0px;
}

.asynchremote-tree > stack > textbox
{
  background-color:white;
  border-color:transparent !important;
  -moz-border-bottom-colors:transparent !important;
  -moz-border-end-color:transparent !important;
  -moz-border-left-colors:transparent !important;
  -moz-border-right-colors:transparent !important;
  -moz-border-start-color:transparent !important;
  -moz-border-top-colors:transparent !important;
  margin-bottom:0px !important;
  padding-bottom:0px !important;
  border-bottom:0px !important;
}

.asynchremote-tree treechildren::-moz-tree-row {
  margin:0px;
  margin-top:0px;
  padding:0px;
  padding-left:4px;
  border:0px;
}
.asynchremote-tree treechildren::-moz-tree-indentation {
  margin:0px;
  padding:0px;
  width:15px;
}
.asynchremote-tree treechildren::-moz-tree-image {
  margin-right:3px;
}

