
.asynchremote-tree {
  margin:0px;
}
/*
.asynchremote-tree > stack > textbox
{
  background-color:white;
  border-color:transparent !important;
  -moz-border-bottom-colors:transparent !important;
  -moz-border-end-color:transparent !important;
  -moz-border-left-colors:transparent !important;
  -moz-border-right-colors:transparent !important;
  -moz-border-start-color:transparent !important;
  -moz-border-top-colors:transparent !important;
  padding-bottom:3px !important;
  border-bottom:2px;
  -moz-padding-end:0px;
  -moz-margin-end:0px;
}*/