
.asynchremote-tree treechildren::-moz-tree-image(container, open) {
  list-style-image:url(chrome://up.tito.icons.files/content/tree/folder-open.png);
}
.asynchremote-tree treechildren::-moz-tree-image(container, closed) {
  list-style-image:url(chrome://up.tito.icons.files/content/tree/folder-closed.png);
}
.asynchremote-tree treechildren::-moz-tree-image(leaf) {
  list-style-image:url(chrome://up.tito.icons.files/content/tree/file-icon.png);
}
.asynchremote-tree treechildren::-moz-tree-twisty(busy) {
  list-style-image:url(chrome://up.tito.icons.files/content/tree/folder-closed-loading.png);
}


.asynchremote-tree treechildren::-moz-tree-image(apng),
.asynchremote-tree treechildren::-moz-tree-image(png),
.asynchremote-tree treechildren::-moz-tree-image(jpg),
.asynchremote-tree treechildren::-moz-tree-image(gif),
.asynchremote-tree treechildren::-moz-tree-image(jpeg), 
.asynchremote-tree treechildren::-moz-tree-image(bmp) {
  list-style-image:url(chrome://up.tito.icons.files/content/image.png);
}

.asynchremote-tree treechildren::-moz-tree-image(psd) {
  list-style-image:url(chrome://up.tito.icons.files/content/psd.png);
}

.asynchremote-tree treechildren::-moz-tree-image(js) {
  list-style-image:url(chrome://up.tito.icons.files/content/js.png);
}

.asynchremote-tree treechildren::-moz-tree-image(xpi) {
  list-style-image:url(chrome://up.tito.icons.files/content/xpi.png);
}

.asynchremote-tree treechildren::-moz-tree-image(xml),
.asynchremote-tree treechildren::-moz-tree-image(rdf),
.asynchremote-tree treechildren::-moz-tree-image(dtd),
.asynchremote-tree treechildren::-moz-tree-image(xul) {
  list-style-image:url(chrome://up.tito.icons.files/content/xml.png);
}

.asynchremote-tree treechildren::-moz-tree-image(htm),
.asynchremote-tree treechildren::-moz-tree-image(html) ,
.asynchremote-tree treechildren::-moz-tree-image(md),
.asynchremote-tree treechildren::-moz-tree-image(xhtml)
{
  list-style-image:url(chrome://up.tito.icons.files/content/html.png);
}

.asynchremote-tree treechildren::-moz-tree-image(css) {
  list-style-image:url(chrome://up.tito.icons.files/content/css.png);
}

.asynchremote-tree treechildren::-moz-tree-image(sql),
.asynchremote-tree treechildren::-moz-tree-image(sqlite)
{
  list-style-image:url(chrome://up.tito.icons.files/content/sql.png);
}

.asynchremote-tree treechildren::-moz-tree-image(ai) {
  list-style-image:url(chrome://up.tito.icons.files/content/ai.png);
}

.asynchremote-tree treechildren::-moz-tree-image(cdr) {
  list-style-image:url(chrome://up.tito.icons.files/content/cdr.png);
}

.asynchremote-tree treechildren::-moz-tree-image(mov),
.asynchremote-tree treechildren::-moz-tree-image(mpeg),
.asynchremote-tree treechildren::-moz-tree-image(avi),
.asynchremote-tree treechildren::-moz-tree-image(mpg),
.asynchremote-tree treechildren::-moz-tree-image(flv),
.asynchremote-tree treechildren::-moz-tree-image(wmv)
{
  list-style-image:url(chrome://up.tito.icons.files/content/film.png);
}

.asynchremote-tree treechildren::-moz-tree-image(mp3),
.asynchremote-tree treechildren::-moz-tree-image(wav),
.asynchremote-tree treechildren::-moz-tree-image(aif),
.asynchremote-tree treechildren::-moz-tree-image(aiff),
.asynchremote-tree treechildren::-moz-tree-image(snd),
.asynchremote-tree treechildren::-moz-tree-image(wma),
.asynchremote-tree treechildren::-moz-tree-image(asf),
.asynchremote-tree treechildren::-moz-tree-image(asx),
.asynchremote-tree treechildren::-moz-tree-image(pcm)
{
  list-style-image:url(chrome://up.tito.icons.files/content/music.png);
}

.asynchremote-tree treechildren::-moz-tree-image(php),
.asynchremote-tree treechildren::-moz-tree-image(php3),
.asynchremote-tree treechildren::-moz-tree-image(php4),
.asynchremote-tree treechildren::-moz-tree-image(php5)
{
  list-style-image:url(chrome://up.tito.icons.files/content/php.png);
}

.asynchremote-tree treechildren::-moz-tree-image(pdf){
  list-style-image:url(chrome://up.tito.icons.files/content/pdf.png);
}

.asynchremote-tree treechildren::-moz-tree-image(as){
  list-style-image:url(chrome://up.tito.icons.files/content/as.png);
}

.asynchremote-tree treechildren::-moz-tree-image(fla){
  list-style-image:url(chrome://up.tito.icons.files/content/fla.png);
}

.asynchremote-tree treechildren::-moz-tree-image(swf){
  list-style-image:url(chrome://up.tito.icons.files/content/swf.png);
}

.asynchremote-tree treechildren::-moz-tree-image(xls),
.asynchremote-tree treechildren::-moz-tree-image(doc),
.asynchremote-tree treechildren::-moz-tree-image(rtf),
.asynchremote-tree treechildren::-moz-tree-image(ppt)
{
  list-style-image:url(chrome://up.tito.icons.files/content/office.png);
}

.asynchremote-tree treechildren::-moz-tree-image(zip),
.asynchremote-tree treechildren::-moz-tree-image(tar),
.asynchremote-tree treechildren::-moz-tree-image(rar),
.asynchremote-tree treechildren::-moz-tree-image(gz)
{
  list-style-image:url(chrome://up.tito.icons.files/content/compressed.png);
}

.asynchremote-tree treechildren::-moz-tree-image(exe){
  list-style-image:url(chrome://up.tito.icons.files/content/exe.png);
}

.asynchremote-tree treechildren::-moz-tree-image(ini),
.asynchremote-tree treechildren::-moz-tree-image(conf),
.asynchremote-tree treechildren::-moz-tree-image(dat)
{
  list-style-image:url(chrome://up.tito.icons.files/content/conf.png);
}

.asynchremote-tree treechildren::-moz-tree-image(txt){
  list-style-image:url(chrome://up.tito.icons.files/content/txt.png);
}

.asynchremote-tree treechildren::-moz-tree-image(sh),
.asynchremote-tree treechildren::-moz-tree-image(bat)
{
  list-style-image:url(chrome://up.tito.icons.files/content/sh.png);
}

.asynchremote-tree treechildren::-moz-tree-image(py),
.asynchremote-tree treechildren::-moz-tree-image(pl){
  list-style-image:url(chrome://up.tito.icons.files/content/p.png);
}

.asynchremote-tree treechildren::-moz-tree-image(rb){
  list-style-image:url(chrome://up.tito.icons.files/content/rb.png);
}

.asynchremote-tree treechildren::-moz-tree-image(htaccess){
  list-style-image:url(chrome://up.tito.icons.files/content/htaccess.png);
}

.asynchremote-tree treechildren::-moz-tree-image(diff){
  list-style-image:url(chrome://up.tito.icons.files/content/diff.png);
}

.asynchremote-tree treechildren::-moz-tree-image(komodotool),
.asynchremote-tree treechildren::-moz-tree-image(kpz),
.asynchremote-tree treechildren::-moz-tree-image(komodoproject)
{
  list-style-image:url(chrome://up.tito.icons.files/content/komodo16.png);
}

.asynchremote-tree treechildren::-moz-tree-image(json){
  list-style-image:url(chrome://up.tito.icons.files/content/json.png);
}

.asynchremote-tree treechildren::-moz-tree-image(rss){
  list-style-image:url(chrome://up.tito.icons.files/content/rss.png);
}

.asynchremote-tree treechildren::-moz-tree-image(bak){
  list-style-image:url(chrome://up.tito.icons.files/content/bak.png);
}
.asynchremote-tree treechildren::-moz-tree-image(tmp){
  list-style-image:url(chrome://up.tito.icons.files/content/tmp.png);
}

.asynchremote-tree treechildren::-moz-tree-image(properties){
  list-style-image:url(chrome://up.tito.icons.files/content/properties.png);
}

.asynchremote-tree treechildren::-moz-tree-image(fifo){
  list-style-image:url(chrome://up.tito.icons.files/content/fifo.png);
}

.asynchremote-tree treechildren::-moz-tree-image(ico){
  list-style-image:url(chrome://up.tito.icons.files/content/ico.png);
}

.asynchremote-tree treechildren::-moz-tree-image(jar){
  list-style-image:url(chrome://up.tito.icons.files/content/jar.png);
}

.asynchremote-tree treechildren::-moz-tree-image(gitignore){
  list-style-image:url(chrome://up.tito.icons.files/content/gitignore.png);
}

.asynchremote-tree treechildren::-moz-tree-image(manifest){
  list-style-image:url(chrome://up.tito.icons.files/content/manifest.png);
}

.asynchremote-tree treechildren::-moz-tree-image(log){
  list-style-image:url(chrome://up.tito.icons.files/content/log.png);
}
