
/*context*/
  
  .asynchremote-rebase {
	list-style-image : url("chrome://asynchremote/content/icons/context/rebase.png");
  }
  .asynchremote-rebase[disabled] {
	list-style-image : url("chrome://asynchremote/content/icons/context/rebase-disabled.png");
  }
  .asynchremote-new-file {
	list-style-image : url("chrome://asynchremote/content/icons/context/new-file.png");
  }
  .asynchremote-new-file[disabled] {
	list-style-image : url("chrome://asynchremote/content/icons/context/new-file-disabled.png");
  }
  .asynchremote-new-folder {
	list-style-image : url("chrome://asynchremote/content/icons/context/new-folder.png");
  }
  .asynchremote-new-folder[disabled] {
	list-style-image : url("chrome://asynchremote/content/icons/context/new-folder-disabled.png");
  }
  
  .asynchremote-open{
	list-style-image : url("chrome://asynchremote/content/icons/context/open.png");
  }
  .asynchremote-open[disabled] {
	list-style-image : url("chrome://asynchremote/content/icons/context/open-disabled.png");
  }
  .asynchremote-edit{
	list-style-image : url("chrome://asynchremote/content/icons/context/edit.png");
  }
  .asynchremote-edit[disabled] {
	list-style-image : url("chrome://asynchremote/content/icons/context/edit-disabled.png");
  }
  .asynchremote-diff{
	list-style-image : url("chrome://asynchremote/content/icons/context/diff.png");
  }
  .asynchremote-diff[disabled] {
	list-style-image : url("chrome://asynchremote/content/icons/context/diff-disabled.png");
  }
  
  .asynchremote-upload{
	list-style-image : url("chrome://asynchremote/content/icons/context/upload.png");
  }
  .asynchremote-upload[multiple]{
	list-style-image : url("chrome://asynchremote/content/icons/context/upload-multiple.png");
  }
  .asynchremote-upload[disabled]{
	list-style-image : url("chrome://asynchremote/content/icons/context/upload-disabled.png");
  }
  
  .asynchremote-download{
	list-style-image : url("chrome://asynchremote/content/icons/context/download.png");
  }
  .asynchremote-download[multiple]{
	list-style-image : url("chrome://asynchremote/content/icons/context/download-multiple.png");
  }
  .asynchremote-download[disabled]{
	list-style-image : url("chrome://asynchremote/content/icons/context/download-disabled.png");
  }
  .asynchremote-download-to-folder{
	list-style-image : url("chrome://asynchremote/content/icons/context/download-to-folder.png");
  }
  .asynchremote-download-this-to-folder{
	list-style-image : url("chrome://asynchremote/content/icons/context/download-this-to-folder.png");
  }
  
  .asynchremote-locate{
	list-style-image : url("chrome://asynchremote/content/icons/context/locate.png");
  }
  .asynchremote-locate[disabled]{
	list-style-image : url("chrome://asynchremote/content/icons/context/locate-disabled.png");
  }
  
  .asynchremote-rename{
	list-style-image : url("chrome://asynchremote/content/icons/context/rename.png");
  }
  .asynchremote-rename[disabled]{
	list-style-image : url("chrome://asynchremote/content/icons/context/rename-disabled.png");
  }
  .asynchremote-move{
	list-style-image : url("chrome://asynchremote/content/icons/context/move.png");
  }
  .asynchremote-move[disabled]{
	list-style-image : url("chrome://asynchremote/content/icons/context/move-disabled.png");
  }
  .asynchremote-delete{
	list-style-image : url("chrome://asynchremote/content/icons/context/delete.png");
  }
  .asynchremote-permissions{
	list-style-image : url("chrome://asynchremote/content/icons/context/permissions.png");
  }
